@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.hero {
	font-family: 'Inter', sans-serif;
	padding-bottom: 5rem;
	&__columns {
		display: grid;
		grid-template-columns: minmax(20rem, 56.25rem) auto;
	}

	&__column {
	}
}

.left-col {
	margin-top: 7rem;
	opacity: 0.75;
	@media (max-width: 771px){
		margin-top: 3rem;
	}
	&__content {
		margin-bottom: 15.5rem;
		@media (max-width: 991px){
			margin-bottom: 5rem;
		}
	}

	&__text {
		max-width: 56.25rem;
		padding-bottom: 1.5rem;
	}

	&__title {
		padding-bottom: .8rem;
		font-weight: 600;
		font-size: 7.375rem;
		transform: translateX(-0.5rem);
		@media (max-width: 771px){
			font-size: 5.5rem;
		}
	}

	&__p {
		font-size: 1.5rem;
		font-weight: 500;
		@media (max-width: 771px){
			font-size: 1.25rem;
		}
	}

	&__buttons {
		@media (max-width: 771px){
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}

	&__reviews {
	}
}

.btn {
	display: flex;
	&__explore {
		margin-right: 2.2rem;
		@media (max-width: 771px){
			margin: 0rem 0rem 2rem 0rem;
		}
	}

	&__play {
		display: flex;
		align-items: center;
		img {
			margin-right: 1rem;
			width: 4rem;
			height: 4rem;
			transition: all .3s;
		}
		span {
			font-size: 1.25rem;
		}
		&:hover {
			img {
				transform: scale(1.03);
			}
		}
	}
}

.explore {
	border-radius: .75rem;
	border: 2px solid #fff;
	padding: 15px 60px;
	transition: all .3s;
	background-color: transparent;
	span {
		color: #fff;
		font-weight: 400;
		font-size: 1.75rem;
	}
	&:hover {
		background-color: rgba(255, 255, 255, 0.1);
		span {
			opacity: 1;
		}
	}
}

.explore_b {
	border-radius: .75rem;
	border: 2px solid #fff;
	padding: 15px 50px;
	transition: all .3s;
	span {
		color: #fff;
		font-weight: 400;
		font-size: 1.75rem;
	}
	&:hover {
		background-color: rgba(255, 255, 255, 0.1);
		span {
			opacity: 1;
		}
	}
}

.review {
	max-width: 25.5rem;
	border-radius: 2.8rem;
	border: 3px solid rgba(255, 255, 255, 0.5);
   backdrop-filter: blur(20px);
	background: rgb(255, 255, 255, 0.05);
	padding: 2.8rem 3rem 3.4rem 3rem;
	@media (max-width: 991px){
		  margin: 0 auto;
	}
	&__item {
		display: flex;
		align-items: center;
		margin-bottom: 1.5rem;
	}

	&__info {
		display: flex;
		flex-direction: column;
	}

	&__img {
		padding-right: 2rem;
		img {
			width: 4rem;
			height: 4rem;
			border-radius: 50%;
		}
	}

	&__name {
		font-size: 1.375rem;
		padding-bottom: .5rem;
	}

	&__stars {
		display: flex;
		li {
			color: #FFF84E;
			&:not(:first-child) {
				padding-left: .5rem;
			}
		}
	}	

	&__text {
		font-size: 1.0625rem;
	}
}

.right-col {
	&__slider {
		height: 757px;
		margin-left: 13rem;
		max-width: 32.4rem;
		border-radius: 2.8rem;
		border: 3px solid rgba(255, 255, 255, 0.5);
		backdrop-filter: blur(20.2px);
		background: rgba(255, 255, 255, 0.05);
		padding: 0rem 2.0625rem 2.0625rem 4.5rem;
		@media (max-width: 1100px){
			margin-left: 12rem;
			max-width: 30rem;
			padding: 0rem 1rem 2.0625rem 2rem;
		}
		@media (max-width: 991px){
			  display: none;
		}
	}
}
