@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


.header {
	font-family: Inter;
	padding: 3.3rem 0rem 3.6rem 0rem;
	z-index: 1000;
	&__menu {
		
	}

	&__logo {
		display: flex;
		align-items: center;
	}
}


.lock {
	overflow: hidden;
	touch-action: none;
	overscroll-behavior: none;
}

.menu {
	display: grid;
	grid-template-columns: 10rem auto 112px;
	align-items: center;
	@media (max-width: 991px) {
		grid-template-columns: 10rem auto 12.5rem;
	}
	&__logo {
		padding-right: 1rem;
		transform: translate(0rem, -.4rem);
	}

	&__title {
		font-family: serif;
		font-size: 1.75rem;
		font-weight: 900;
		color: #fff;
		opacity: .75;
		font-family: "Inter";
	}

	&__body {
		margin: 0 auto;
		@media (max-width: 991px) {
			display: none;
		}
	}

	&__list {
		display: flex;
		flex-direction: row;
		gap: 61px;
	}

	&__item {
		transition: all .3s;
		&:hover {
			opacity: 1;
		}
	}

	&__link {
		font-weight: 500;
	}

	&__icons {
		justify-self: start;
		img {
			width: 1.5rem;
			height: 1.5rem;
		}
	}
}

.icons {
	display: flex;
	gap: 4rem;
	@media (max-width: 991px) {
		justify-content: end;
		grid-column: 3;
		
	}
	@media (max-width: 768px){
		gap: 3rem;
	}
	&__search {
	}

	&__shoppingCart {
	}

	&__burger {
	}
}

.bm-burger-button {
	position: fixed;
	width: 31px;
	height: 12px;
	right: 20px;
	top: 70px;
	display: none;
	@media (max-width: 991px){
		display: block;
	}
}
 
.bm-burger-bars {
	background: #373a47;
}
 
.bm-burger-bars-hover {
	background: #a90000;
}
 
.bm-cross-button {
	height: 24px;
	width: 24px;
}
 
.bm-cross {
	background: #bdc3c7;
}

.bm-menu-wrap {
	position: fixed;
	height: 100%;
}
 
.bm-menu {
	backdrop-filter: blur(20.2px);
	background: rgba(255, 255, 255, 0.05);
	padding: 2.5em 1.5em 0;
	font-size: 1.15em;
}
 
.bm-morph-shape {
	fill: #373a47;
}
 
.bm-item-list {
	color: #b8b7ad;
	padding: 0.8em;
	
}
 
.bm-item {
	display: inline-block;
	padding-bottom: 2rem;
	font-size: 2rem;
}
 
.bm-overlay {
	background: rgba(0, 0, 0, 0.3);
}

