.trendy {
	padding-bottom: 9.5rem;
	@media (max-width: 1100px){
		padding-bottom: 0rem;
	}
	@media (max-width: 771px){
		padding-bottom: 4rem;
	}
	&__content {
	}

	&__title {
		margin-bottom: 8rem;
		@media (max-width: 771px){
			margin-bottom: 4rem;
		}
	}
}