@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


body {
  margin: 0;
  color: #fff;
  color: #fff;
  line-height: 1;
  background: #1B2316;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
:focus,
:active {
	// outline: none;
}
a:focus,
a:active {
	// outline: none;
}
html,
body {
	height: 100%;
	font-family: 'Inter', sans-serif;
}

input,
button,
textarea {
	font-size: inherit;
	line-height: inherit;
}
button {
	cursor: pointer;
	color: inherit;
	background-color: transparent;
}
a {
	color: inherit;
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
//////////////////////////////////////////////////////////////////////////////
/// CLASSES
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	@supports (overflow: clip) {
		overflow: clip;
	}
	> main {
		flex: 1 1 auto;
	}
	> * {
		min-width: 0;
	}
	
	&:before {
		content: '';
		position: absolute;
		background: url('../src/img/background/bg.png')  center / cover no-repeat;
		width: 100%;
		height: 2600px;
	}
}
.container {
	max-width: 1650px;
	margin: 0 auto;
	padding: 0px 7px;
}

.text {
	color:#fff;
	opacity: .75;
	font-size: 1.5rem;
}

.title-b {
	position: relative;
	text-align: center;
	font-weight: 600;
	font-size: 3.4375rem;
	&:before {
		content: url('../src/img/trendy/1.png');
		position: absolute;
		transform: rotate(180deg) translateX(35px);
		@media (max-width: 771px){
			display: none;
		}
	}
	&:after {
		content: url('../src/img/trendy/1.png');
		position: absolute;
		transform: translate(-40px, -23px);
		@media (max-width: 771px){
			display: none;
		}
	}
}
//////////////////////////////////////////////////////////////////////////////



