.swiper-slide {
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.swiper-pagination-bullet {
	transition: all .3s;
	transform: translateX(-1.5rem);
	background-color: #fff;
	color: #fff;
	width: 7px;
	height: 6px;
}

.swiper-pagination-bullet-active {
	width: 20px;
	border-radius: 5px;
}

.content__wrapper {
	display: flex;
	flex-direction: column;
	img {
		width: 365px;
	}
	padding-bottom: 1rem;
	&_long {
		display: flex;
		flex-direction: column;
		padding-bottom: 3rem;
		img {
			width: 365px;
		}
	}
}

.swiper {
	overflow-y: visible;
	max-width: 28.6875rem;
}

.swiper-content {
	padding-top: 3.5rem;
	color: rgba(255, 255, 255, 0.75);
	opacity: .75;
	&__p {
		font-size: 1.4375rem;
		padding-bottom: 1.5rem;
	}

	&__title {
		font-size: 2.375rem;
		padding-bottom: 1.8rem;
	}

	&__btn {
		margin-bottom: 2.2rem;
	}
}

.swiper-wrap {
	margin-left: 13rem;
	max-width: 32.4rem;
	&:before {
		content: "";
		position: absolute;
		background: url('../../img/top-selling/bg.svg') center no-repeat;
		width: 100%;
		height: 100%;
	}
}
